#footer-main {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bolder;
  background-color: rgb(145, 245, 78);
  text-align: center;
}

#footer-right{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
